@import "base/reset";
@import "base/fonts";
@import "base/mixins";
@import "base/variables";

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background-image: url("../images/abs-bgi.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#app {
  position: absolute;
  width: 650px;
  height: 70px;
  top: 50%;
  left: 50%;
  margin-left: -375px;
  margin-top: -35px;
  border-radius: 7.5px;
  padding: 10px;
  background-color: white;
  transition: all 750ms;
  &.success {
    width: 10%;
    height: 10%;
    margin-left: -5%;
    margin-top: -5%;
    background-image: url("../images/checkmark.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 300ms;
    p#success_msg {
      font-family: "lato";
      font-size: 30px;
      color: red;
      font-weight: 500;
    }
  }
  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: all 600ms;
    &.error {
      div {
        background-color: #a94442;
        input {
          color: white;
        }
      }
      button {
        background-color: #a94442;
      }
    }
    div {
      width: 75%;
      border: 1px solid grey;
      display: flex;
      padding: 5px;
      background-color: #e6e6e6;
      border-radius: 5px;
      transition: all 200ms;
      p {
        width: 20%;
        text-align: center;
        position: relative;
        &::after {
          @include pseudo($content: "\e800");
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          margin-left: -50%;
          margin-top: -25%;
          font-size: 40px;
          color: rgba(0, 0, 0, 0.2);
        }
      }
      input {
        transition: all 200ms;
        width: 80%;
        border: 0;
        outline: none;
        font-size: 25px;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        padding: 5px;
        background-color: inherit;
      }
      input::placeholder {
        color: rgba(0, 0, 0, 0.2);
        font-size: 18px;
      }
      input:autofill {
        box-shadow: 0 0 0 30px #e6e6e6 inset;
      }
    }
    button {
      background-color: #276cda;
      color: white;
      margin-left: auto;
      width: 20%;
      border: 0;
      outline: none;
      padding: 10px;
      border-radius: 5px;
      font-size: 18px;
      font-family: "Lato";
      transition: all 300ms;
      &:hover {
        opacity: 0.8;
      }
    }
    p.error_text {
      display: none;
      width: 100%;
      margin: 5px;
      color: red;
      font-size: 16px;
      font-family: "Lato";
      line-height: 16px;
      font-weight: normal;
      text-transform: capitalize;
    }
    p.showError {
      display: block;
      color: #a94442;
    }
  }
}
// responsive
@media only screen and(max-width: "1020px") {
  #app {
    width: 750px;
    height: 75px;
    margin-left: -375px;
    margin-top: -37.5px;
  }
  #app form div p::after {
    font-size: 50px;
    margin-top: -25%;
  }
}
@media only screen and(max-width: "850px") {
  #app {
    width: 600px;
    height: 70px;
    margin-left: -300px;
    margin-top: -35px;
  }
}
@media only screen and(max-width: "650px") {
  #app {
    width: 500px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -25px;
  }
  #app form button {
    padding: 3px;
    font-size: 16px;
  }
  #app form div p::after {
    font-size: 25px;
    margin-top: -18%;
  }
  #app form div input::placeholder {
    font-size: 16px;
  }
}
@media only screen and(max-width: "500px") {
  #app {
    width: 400px;
    height: 50px;
    top: 50%;
    left: 50%;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: -200px;
    margin-top: -25px;
  }
  #app form button {
    padding: 3px;
  }
  #app form div p::after {
    font-size: 25px;
  }
  #app form div input::placeholder {
    font-size: 16px;
  }
}
@media only screen and(max-width: "430px") {
  #app {
    width: 400px;
    height: 50px;
    top: 50%;
    left: 50%;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: -200px;
    margin-top: -25px;
  }
  #app form button {
    padding: 3px;
    font-size: 16px;
  }
  #app form div p::after {
    font-size: 25px;
    margin-top: -24%;
  }
  #app form div input::placeholder {
    font-size: 16px;
  }
}
@media only screen and(max-width: "414px") {
  #app {
    width: 350px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: -25px;
  }
  #app form button {
    padding: 3px;
    font-size: 16px;
  }
  #app form div p::after {
    font-size: 25px;
    margin-top: -24%;
  }
  #app form div input::placeholder {
    font-size: 16px;
  }
}
@media only screen and(max-width: "411px") {
  #app {
    width: 350px;
    height: 50px;
    top: 50%;
    left: 50%;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: -175px;
    margin-top: -25px;
  }
  #app form button {
    padding: 3px;
    font-size: 16px;
  }
  #app form div p::after {
    font-size: 25px;
    margin-top: -24%;
  }
  #app form div input::placeholder {
    font-size: 16px;
  }
}

@media only screen and(max-width: "375px") {
  #app {
    width: 350px;
    height: 50px;
    top: 50%;
    left: 50%;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: -175px;
    margin-top: -25px;
  }
  #app form button {
    padding: 3px;
    font-size: 16px;
  }
  #app form div p::after {
    font-size: 25px;
    margin-top: -27%;
  }
  #app form div input::placeholder {
    font-size: 16px;
  }
}
@media only screen and(max-width: "360px") {
  #app {
    width: 350px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: -25px;
  }
  #app form button {
    padding: 3px;
    font-size: 16px;
  }
  #app form div p::after {
    font-size: 25px;
  }
  #app form div input::placeholder {
    font-size: 16px;
  }
}
@media only screen and(max-width: "320px") {
  #app {
    width: 300px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -25px;
    padding-left: 3px;
    padding-right: 3px;
  }
  #app form div {
    padding: 0;
  }
  #app form button {
    padding: 1px;
    font-size: 14px;
  }
  #app form div p::after {
    font-size: 20px;
    margin-top: -25%;
  }
  #app form div input::placeholder {
    font-size: 16px;
  }
}
