@import "base/reset";
@import "base/fonts";
@import "base/mixins";
@import "base/variables";
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background-color: lightgreen;
}
